<div class="container m-1 p-3">
  <h2>Wynik obliczeń</h2>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Kwota do spłacenia w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loanData.percentage"
        readonly
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Koszt oprocentowania w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loanData.percentage"
        readonly
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Miesięczna rata w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loanData.percentage"
        readonly
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Koszt roczny w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loanData.percentage"
        readonly
      />
    </div>
  </div>
</div>
