<div class="container m-1 p-3">
  <h2>Wynik obliczeń</h2>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Kwota do spłacenia w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loan.totalPayment.toFixed(2)"
        readonly
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Koszt oprocentowania w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loan.percentageCost.toFixed(2)"
        readonly
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Miesięczna rata w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loan.installmentsAmount.toFixed(2)"
        readonly
      />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanValue">Koszt roczny w PLN</label>
      <input
        class="form-control"
        type="text"
        [value]="loan.yearlyCost.toFixed(2)"
        readonly
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3" *ngIf="loan.isCalculated" (click)="loan.createInstallments()">Pokaż harmonogram spłat</button>
</div>
