<div class="container m-3 p-3">
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanAmount">Wartość kredytu w PLN</label>
      <input type="text" class="form-control" placeholder="np. 500 000" [(ngModel)] = "loan.amount" #amount/>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-12">
      <label for="loanPeriod">Okres kredytowania (w latach)</label><br />
      <input
        class="form-control-range"
        type="range"
        name="loanPeriod"
        min="0"
        max="50"
        step="1"
        [(ngModel)]="loan.period"
        #period
      />
      <span> {{ loan.period }} lat(a) = {{ (+loan.period * 12) }} miesięcy</span>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <label for="loanPercent">Oprocentowanie</label>
      <input
        type="number"
        min="0"
        max="100"
        step="0.1"
        class="form-control"
        placeholder="np. 5.0%"
        [(ngModel)]="loan.percentage"
        #percentage
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-3" (click)="loan.calculateLoan()">Oblicz ratę</button>
</div>
